*{
    margin: 0;
    padding: 0;
    border:0;
    text-decoration: none;
}
body{
    /* background-color: #2C3333; */
    background-image: url(bg1.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    
}
.top{
    height: 180px;
}
h1{
    color: #586767;
    
}
h1:hover{
    color:aqua;
    text-shadow: #51d5d5 5px 10px  50px;
    transform: scale(1.5);
    transition: 1s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

.google{
    text-align: center;
    font-size: 50px;
    font-family: sans-serif;
    border-color: 2px solid white;
    position: relative;
    top: 100px;
    /* background-color:grey */
    height: 200px;
    width: auto;
    color: white;
}
.box {
    border-radius: 20px;
    height: 40px;
    width: 550px;
    border-color: solid black; 
    background-color: gray;
    margin:auto;
    margin-top: 40px;
}
.logo{
    height: 25px;
    margin-top: 8px;
    margin-left:8px;

}
.box:hover{
    background-color: red;
    box-shadow: inset
}
/* li{
    color:white;
    position: absolute;
    padding:10px;
    display: inline;
    list-style-type: none; */
    /* float: right; */

/* } */
nav{
    height: 50px;
    width: 100%;
    background-color: black;
}
ul li{
    float: right;
    color:#CBE4DE;
    padding:10px;
    list-style-type:none;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: large;
}
ul li:hover{
    color:white;
    transition: 0.5s;
    transform: scale(1.2);
    padding-right: 30px;
    padding-left: 30px;
    
    
}
ul li:hover{
    width:5% 
    background-color: #2C3333;
    height: 20px;
    border-radius: 45px;
}
a{
    color: #CBE4DE;
}
a:hover{
    color: white;
    
}
.signin{
    background-color: #2E4F4F;
    border-radius: 10px;
    color:white;
    width: 50px;
    margin-right: 50px;

}
.signin:hover{
    background-color: #CBE4DE;
    /* width:80px; */
    /* height: 30px; */
    /* align-items :center; */
    transition: 0.s;
    color: black;
    font-size: larger;
    transform: scale(1.2);
    margin-left: 10px;   
}
.searchbox{
    width: 450px;
    height: 31px;
    background-color: gray;
    opacity: 0.5;
    border: none;
    border-radius: 20px;
    color: black;
    margin-bottom:px;
    padding-left: 40px;
    margin-left: 50px;

}

img{
    mix-blend-mode: multiply;
    width: 25px;
    margin-top:none;
}
.lenss{
    margin-left: 620px;
    margin-bottom: 50px;
    width: 30px;
    height: 35px;
}
/* .circle{
    width: 50px;
    height: 50px;
    background-color: #51d5d5;
    border-radius: 50%;
    animation-name: circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;

}
@keyframes circle {
    from { 
        width:0px;
    }
    to {
         width:200px;
        }
} */
.dicon2{
   margin-left:350px;
   height: 100px;
   width:auto;
}
.dicon2:hover{
    transform:rotateX(360deg);
    transition: 2s;
  
}